@logsize: 50%;
@bgcolor: #F9F9F9;
@hand: pointer;
@blue: #5bc0de;

body {
	background-color: @bgcolor;
}

#logForm {

}

.hand {
	cursor: @hand;
}

.form-group {
	width: @logsize;
}

a {
	cursor: @hand;
}

.question {
	font-weight: bold;
	font-size: 120%

}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
}

.eval {
	font-size: 120%
}

.create {
	font-size: 120%;
	background-color: @blue;
	border: 2px solid;
}

.bold {
	font-weight: bold;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
}