<div class="row">	
	<div class="col-md-4">
		<a ng-click="createTemplate()" class="eval">Create evaluation template</a></li>

		<h4>New Evaluations</h4>
		<ul>
			<li ng-repeat="eval in newEvaluations" ng-click="evalResult(eval)"><a>{{eval.TemplateTitle}} - {{eval.Status}}</a></li>
			<p ng-if="newEvaluations.length === 0">None</p>
		</ul>

		<h4>Open Evaluations</h4>
		<ul>
			<li ng-repeat="eval in openEvaluations" ng-click="evalResult(eval)"><a>{{eval.TemplateTitle}} - {{eval.Status}}</a></li>
			<p ng-if="openEvaluations.length === 0">None</p>
		</ul>

		<h4>Closed Evaluations</h4>
		<ul>
			<li ng-repeat="eval in closedEvaluations" ng-click="evalResult(eval)"><a>{{eval.TemplateTitle}} - {{eval.Status}}</a></li>
			<p ng-if="closedEvaluations.length === 0">None</p>
		</ul>
	</div> <!-- col-md-4 -->

	<div class="col-md-8">
		<h3>All evaluation Templates</h3>

		<div ng-repeat="template in evaluationTemplates">
			<!-- <li ng-click="getTemplate(template)"> <a>{{template.Title}} - {{template.TitleEN}}</a> </li> -->
			<div class="hand">
				<div class="well well-sm" ng-click="getTemplate(template)" class="hand">
					<p class="eval">{{template.Title}}<p>
					<p class="eval">{{template.TitleEN}}</p>
				</div>
			</div>
		</div>
	</div>

</div> <!-- row -->
