<div>
	{{question.question.Text}}
</div>

<div ng-show="question.question.Type === 'text'">
	<textarea ng-model="question.answer"></textarea>
</div>

<div ng-show="question.question.Type === 'single'">
	<div ng-repeat="answer in question.question.Answers">
		<input ng-model="question.answer" type="radio" />{{answer.Text}}
	</div>
</div>

<div ng-show="question.question.Type === 'multiple'">
	<div ng-repeat="answer in question.question.Answers">
		<input type="radio" /> {{answer.Text}}
	</div>
</div>