<h3>{{courseEvaluation.CourseName}} - {{courseEvaluation.CourseNameEN}} </h3>
<div>
	<p>{{evaluation.IntroText}}</p>
	<p>{{evaluation.IntroTextEN}}</p>
</div>
<div class="row">
	<form ng-submit="submitEvaluation()">
		<div class="col-md-6">
			<h4>Questions directed towards the course</h4>
			<evaluation-question ng-repeat="question in courseQuestions" question="question" required></evaluation-question>
		</div>

		<div classs="col-md-6"> 
			<h4>Questions directed towards the teachers</h4>
			<evaluation-question ng-repeat="question in teacherQuestions" question="question" required> </evaluation-question>
		</div>

		<input type="submit" value="Submit evaluation" />
	</form>
</div>

<div class="row">
	<div ng-repeat="question in courseQuestions">
		<span ng-show="question.question.Type !== 'multiple'">
			{{question.answer}}
		</span>
	</div
</div>