<h3>{{courseEvaluation.CourseName}} - {{courseEvaluation.CourseNameEN}} </h3>
<div>
	<p>{{evaluation.IntroText}}</p>
	<p>{{evaluation.IntroTextEN}}</p>
</div>
<div>
	<form ng-submit="submitEvaluation()">
		<div class="row">

			<div class="col-md-6" ng-if="courseQuestions.length !== 0">
				<h4>Questions directed towards the course</h4>
				<evaluation-question ng-repeat="question in courseQuestions" question="question" required></evaluation-question>
			</div>

			<div class="col-md-6" ng-if="teacherQuestions.length !== 0"> 
				<h4>Questions directed towards the teachers</h4>
				<evaluation-question ng-repeat="question in teacherQuestions" question="question" required> </evaluation-question>
			</div>
		</div>
		<input type="submit" value="Submit evaluation" class="btn btn-primary" />
	</form>
</div>
